.Alerts {
  position:absolute;
  width:400px;
  right:20px;
  z-index:999;
}

.Alert {
  position: relative;
  background: #ddd;
  border: 1px solid darken(#ddd, 10%);
  border-radius:10px;
  padding: 1em;
  color:white;
  font-size:1.2em;

  &.Alert--Success {
    background: #5cb85c;
    border: 1px solid #4cae4c;
  }

  &.Alert--Error {
    background: lighten (red, 70%);
    border: 1px solid lighten(red, 30%);
  }

  .Alert__close {
    position:absolute;
    top: 1em;
    right: 1em;
    font-weight: bold;
    cursor: pointer;
    color: white;
  }
}
