.Alerts {
  position:fixed;
  width:400px;
  right:-80px;
  top:20px;
  z-index:999;
}

.Alert {
  position:relative;
  width: 300px;
  display:block;
  margin-bottom:10px;

  &:last-child {
    margin-bottom:0;
  }
}
