.connections {
  ul {
    list-style: none;
    padding-left: 0;

    .connection {
      @extend .row;
      border: 1px solid $lightgray;
      padding: 20px;

      .connection-header {
        @extend .col-md-3;
        img {
          max-height: 50px;
        }

        h4 {
          display:inline-block;
          margin-left: 20px;
        }
      }
      .connection-body {
        @extend .col-md-9;

        .connection-label {
          @extend .col-md-3;
          padding-top:5px;
        }

        .connection-input {
          @extend .col-md-9;
        }

        .connection-installed {
          @extend .col-md-offset-2;

          .connection-settings {
            @extend .pull-left;
          }

          .delete-connection {
            @extend .pull-right;
          }
        }
      }
      .instructions {
        border-top: 1px dotted $lightgray;

        h5 {
          text-align:center;
        }

        a {
          cursor:pointer;
        }

        .instructions-body {
          max-height: 0;
          overflow:hidden;

          &.active {
            max-height: 999px;
          }
        }
      }
    }
  }
}
