.org-avatar {
  display:inline-block;
  height:42px;
  border-radius:2px;
  margin-right:10px;
  background: white;
}

.org-name {
  display:inline-block;
}

.left_col {
  background: #2A3F54;
}

.child_menu {
  height: 0px;
  overflow:hidden;
}

.expand-transition {
  transition: all 1s ease;
}

.expand-enter, .expand-leave {
  height: 0;
}
