.nav-md .container.body .col-md-3.left_col {
  height:100%;
  overflow:hidden;
  overflow-y: scroll;
}

.main_container {
  background-color: #f1f1f1;
}

.nav-sm {
  ul.nav.child_menu {
    display:block;
  }

  .org-name {
    display:none;
  }

  .menu-search {
    display:none;
  }

  .menu-header {
    display:none;
  }
}

.org-avatar {
  display:inline-block;
  height:42px;
  border-radius:2px;
  margin-right:10px;
  background: white;
}

.org-name {
  display:inline-block;
}

.left_col {
  background: #2A3F54;
}

.child_menu {
  overflow:hidden;
}

.sidebar-footer a {
  width:100%;
}
