.issue-pack {
  .x_content{
    // height:205px;
    // overflow:hidden;
  }
}

.official-pack-label {
  color: green;
}

.pack-delete {
  position:relative;
}

.pack-public {
  position: absolute;
  right: 0px;
  bottom: 5px;
}

.pack-sync-log {
  a {
    cursor: pointer;
  }
}
