.login_content {
  padding: 0;

  h1 {
    margin:10px 0;
  }

  form div a {
    margin-right:0;
    margin-bottom:10px;
  }
}

.login_supported {
  text-align:center;

  .supported_platform {
    display:inline-block;
    width:200px;
    margin: 0 10px;
  }
}
