.issue-pack {
  @extend .col-md-6;
  @extend .col-sm-6;
  @extend .col-xs-12;
}

.issue-role {
  @extend .label;
  @extend .label-primary;
  margin: 0 2px;
}

.pack-install-existing {
  a {
    cursor:pointer;
    display:block;
    margin-bottom:5px;
  }

  .install-existing-btn {
    clear:left;
    display:block;
    margin-top:10px;
  }
}
