.main_menu_side {
  border-top:1px dotted #425668;
  margin-top:10px;
  background:#2A3F54;


  .main_menu {
    span.fa {
      position:absolute;
      top:33%;
      right:5px;
    }
  }

  .menu-header {
    text-align:center;
    border-bottom: 1px dotted #425668;

    a {
      cursor: pointer;
      padding-bottom: 10px;
    }

    h3 {
      color:white;
      text-align:center;
      font-size:1.2em;
      display:inline-block;
    }
  }

  .menu-search > input {
    border-radius: 4px;
    width:75%;
    margin: 0 auto;
  }

  .menu_section {
    margin-bottom:0px;
    background:#2A3F54;
    max-height: 0;
    overflow:hidden;

    &.active {
      max-height: 999px;
      margin-top:10px;
    }
  }

  .sidebar-footer{
    a{
      padding:14px 0 14px;
    }
  }

  .child_menu {
    max-height:0;
  }

  .nav.side-menu {
    .active .child_menu {
      max-height:999px;
    }
  }
}
