.nav-sm {
  .menu-header {
    display:block;

    h3 {
      display:none;
    }

    h3.show_small {
      display:block;
    }
  }
}

.nav-sm li li span.fa {
  position:absolute;
  right:5px;
  top:20px;
}

.org-avatar {
  display:inline-block;
  height:20px;
  border-radius:2px;
  margin-right:5px;
  background: white;
}

.main_menu {
  span.fa {
    position: absolute;
    right: 5px;
  }
}

.menu-header {
  h3 {
    display:inline-block;
  }

  h3.show_small {
    display:none;
  }
}

.left_col {
  height: 100%;
  width:100%;
}

.main_menu_side {
  border-top:1px dotted #425668;
  margin-top:10px;
  background:#2A3F54;

  .menu-header {
    text-align:center;
    border-bottom: 1px dotted #425668;

    a {
      cursor: pointer;
      padding-bottom: 10px;
    }

    h3 {
      color:white;
      text-align:center;
      font-size:1.2em;
    }
  }

  .menu-search > input {
    border-radius: 4px;
    width:75%;
    margin: 0 auto;
  }

  .menu_section {
    margin-bottom:0px;
    background:#2A3F54;


    .nav.child_menu {
      max-height: 0;
      overflow:hidden;
    }

    li.active {
      & > .nav.child_menu {
        max-height:999px;
      }
    }
  }

  .sidebar-footer{
    a{
      padding:14px 0 14px;
    }
  }
}
