@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import "global/mixins";
@import 'global/variables';
@import "vendor/gentelella";
@import "vendor/gentelella-fixes";
@import 'components/alert';
@import 'components/connections';
@import 'components/dashboard';
@import 'components/file-upload';
@import 'components/input-switch';
@import 'components/issue-pack';
@import 'components/login';
@import 'components/official-packs';
@import 'components/repo-dashboard';
@import 'components/sidebar-menu';
@import 'components/transitions';


html, body {
  height:100%;
}

.bg-faded {
  background-color: #f1f1f1;
}

.main {
  position:relative;
  width:100%;
  height:100%;
  text-align:center;

  .main-content {
    position:relative;
  }
}

footer {
  position:fixed;
  bottom:0;
  width:100%;

  div{
    margin-right:250px;
  }
}
